<button class="btn btn-primary" onclick="getAllPlayers()">Herlaad spelers</button>
<button class="btn btn-primary" onclick="goToPage('game')">Start spel</button>
<button class="btn btn-primary clearplayers" onclick="clearPlayers()">Verwijder spelers</button>

<p class="website">Ga naar www.jagers.herokuapp.com</p>

<div id="allplayers"></div>
<script src="/javascripts/admin.js"></script>
<script>
    getAllPlayers();
</script>