<button class="btn btn-primary" onclick="addPoints();goToPage('game',1)">Volgend spel</button>
<div class="answerlist">
    <p id="answerlist"></p>
</div>

<div id="allanswers"></div>

<script src="/javascripts/admin.js"></script>
<script>
    setAnswer();
    getAllAnswers();
</script>