<h2>Hoi {{name}}</h2>
<form id="changeAnswer">
    <div class="form-group">
        <label for="answer"><p>Vul hier je antwoorden in met een spatie oid ertussen (auto pizza huis)</p></label>
        <input type="text" class="form-control"  placeholder="Enter answers" name="answer" id="form" onkeydown="updateAnswer();">
    </div>
</form>

<script src="javascripts/answerCode.js"></script>
<script>
    getAnswer();
</script>