<div class="toppage">
    <button class="btn btn-primary" onclick="goToPage('game2')">Eerder stoppen</button>
    <div id="callbackExample">
        <p class="values" id="countdowntimer"></p>
    </div>
    <br>
    <div class="gameimg">
        <img src="" alt="" id="gameimg">
    </div>
</div>


<script src="/javascripts/admin.js"></script>
<script>
    changeImage(false);
    setTimer(80);
</script>