<button class="btn btn-primary" onclick="goToPage('game2')">Eerder stoppen</button>
<div id="callbackExample">
    <p class="values" id="countdowntimer"></p>
</div>
<br><br><br>
<div class="gameimg">
    <img src="" alt="" id="gameimg">
</div>


<script src="/javascripts/admin.js"></script>
<script>
    changeImage(false);
    setTimer(100);
</script>