<button class="btn btn-primary" onclick="goToPage('answers')">Antwoorden</button>
<div id="missingcount">test
</div>
<div id="callbackExample">
    <p class="values" id="countdowntimer"></p>
</div>
<br><br><br>
<div class="gameimg">
    <img src="" alt="" id="gameimg">
</div>


<script src="/javascripts/admin.js"></script>
<script>
    changeImage(true);
    setTimer(60);
    getMissingCount();
</script>