<p>Memory Mystery</p>

<form action="./api/addplayer" method="POST" id="addPlayer">
    <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control"  placeholder="Enter name" name="name" required>
    </div>
    <button type="submit" class="btn btn-primary">Letsgooo</button>
</form>

<div id="allplayers"></div>